Repository yungyuc/nsdhw_20au, pull requests merged in 2020-11, with the labels that each got.

#60 jptom-hw3-attempt1
  hw3/jptom/Makefile
  hw3/jptom/_matrix.cpp
  hw3/jptom/test_mat_mul.py
Labels: hw3

#52 shengwen-tw hw3 attempt1
  hw3/shengwen-tw/MKL_PRELOAD
  hw3/shengwen-tw/Makefile
  hw3/shengwen-tw/main.cpp
  hw3/shengwen-tw/matrix.cpp
  hw3/shengwen-tw/matrix.h
  hw3/shengwen-tw/performance.txt
  hw3/shengwen-tw/share.cpp
  hw3/shengwen-tw/test_matrix.py
Labels: hw3

#73 Honestree hw3 attempt1
  hw3/honestree/Makefile
  hw3/honestree/README
  hw3/honestree/StopWatch.hpp
  hw3/honestree/_matrix.cpp
  hw3/honestree/test_matrix.py
Labels: hw3

#74 WarClans612 hw3
  hw3/WarClans612/Makefile
  hw3/WarClans612/PRELOAD_MKL
  hw3/WarClans612/_main.cpp
  hw3/WarClans612/_matrix.cpp
  hw3/WarClans612/_matrix.hpp
  hw3/WarClans612/test_matrix.py
Labels: hw3

#62 Briansp8210 hw3 attempt1
  hw3/briansp8210/Makefile
  hw3/briansp8210/matrix.cc
  hw3/briansp8210/matrix.h
  hw3/briansp8210/test_matrix.py
Labels: hw3

#80 Ycchan5566 hw3 attempt1
  hw3/ycchan5566/Makefile
  hw3/ycchan5566/pybind_matrix.cpp
  hw3/ycchan5566/test_matrix.py
Labels: hw3

#75 Benchen216 hw3 attempt2
  hw3/benchen216/Makefile
  hw3/benchen216/_matrix.cpp
  hw3/benchen216/test_performance.py
Labels: hw3

#53 Tommy lin hw3 attempt1
  hw3/TommyLin/Makefile
  hw3/TommyLin/PRELOAD_MKL
  hw3/TommyLin/_matrix.cpp
  hw3/TommyLin/test_matrix.py
Labels: hw3

#77 abc225666 hw3
  hw3/abc225666/Makefile
  hw3/abc225666/_matrix.cpp
  hw3/abc225666/matrix_test.py
Labels: hw3

#72 JieJhih hw3 attempt1
  hw3/JieJhih/Makefile
  hw3/JieJhih/matrix.cpp
  hw3/JieJhih/matrix.h
  hw3/JieJhih/test_matrix.py
Labels: hw3

#47 Term project submission (2nd attempt) from shengwen-tw
  proposal/shengwen-tw/README.rst
  proposal/shengwen-tw/architecture.PNG
  proposal/shengwen-tw/dragon.PNG
  proposal/shengwen-tw/omnicopter.PNG
  proposal/shengwen-tw/qp_formula.PNG
Labels: proposal

#64 Jspss93094 hw3 attempt1
  hw3/jspss93094/makefile
  hw3/jspss93094/matrix.cpp
  hw3/jspss93094/test_mat.py
Labels: hw3

#78 yenchanglu hw3 attemp1
  hw3/yenchanglu/Makefile
  hw3/yenchanglu/_matrix.cpp
  hw3/yenchanglu/test_matrix.py
Labels: hw3

#58 Naetw hw3 attempt1
  hw3/Naetw/Makefile
  hw3/Naetw/_matrix.cpp
  hw3/Naetw/pybind_test.py
Labels: hw3

#49 Proposal jptom attempt1
  proposal/jptom/README.rst
  proposal/jptom/image/architecture.jpg
  proposal/jptom/image/kalman.PNG
  proposal/jptom/image/kalmansim.PNG
  proposal/jptom/image/pbe.jpg
  proposal/jptom/image/pbj.jpg
Labels: proposal

#50 benchen216 proposal draft1
  proposal/benchen216/README.rst
Labels: proposal

#59 yenchanglu proposal submission
  proposal/yenchanglu/README.rst
  proposal/yenchanglu/architecture.png
Labels: proposal

#65 Jspss93094 proposal submission
  proposal/jspss93094/README.rst
  proposal/jspss93094/video_compression.pdf
Labels: proposal

#66 abc225666-proposal-submission
  proposal/abc225666/README.md
Labels: proposal

#67 WarClans612 proposal
  proposal/WarClans612/proposal.rst
Labels: proposal

#69 Ycchan5566 proposal submission
  proposal/ycchan5566/README.md
Labels: proposal

#71 emjames proposal submission
  proposal/emjames/opendce_diagrams.png
  proposal/emjames/proposal.rst
Labels: proposal

#81 Briansp8210 proposal submission
  proposal/briansp8210/README.md
Labels: proposal

#63 JieJhih proposal draft1
  proposal/JieJhih/README.md
Labels: proposal

#89 TommyLin proposal update
  proposal/TommyLin/README.rst
Labels: proposal

#98 Jptom hw4 attempt1
  hw4/jptom/Makefile
  hw4/jptom/_matrix.cpp
  hw4/jptom/test_mat_mul.py
Labels: hw4

#97 shengwen-tw homework4 attempt2
  hw4/shengwen-tw/Makefile
  hw4/shengwen-tw/matrix.cpp
  hw4/shengwen-tw/matrix.h
  hw4/shengwen-tw/matrix_allocator.h
  hw4/shengwen-tw/share.cpp
Labels: hw4

#101 Honestree hw4 attempt1
  hw4/honestree/Makefile
  hw4/honestree/README
  hw4/honestree/StopWatch.hpp
  hw4/honestree/_matrix.cpp
  hw4/honestree/test_matrix.py
  proposal/TommyLin/README.rst
Labels: hw4

#100 WarClans612 hw4
  hw4/WarClans612/Makefile
  hw4/WarClans612/PRELOAD_MKL
  hw4/WarClans612/_main.cpp
  hw4/WarClans612/_matrix.cpp
  hw4/WarClans612/_matrix.hpp
  hw4/WarClans612/alloc.hpp
  hw4/WarClans612/test_matrix.py
Labels: hw4

#85 Naetw hw4 attempt1
  hw4/Naetw/Makefile
  hw4/Naetw/MyAllocator.hpp
  hw4/Naetw/_matrix.cpp
Labels: hw4

#94 Briansp8210 hw4 attempt1
  hw4/briansp8210/Makefile
  hw4/briansp8210/matrix.cc
  hw4/briansp8210/matrix.h
Labels: hw4

#95 Ycchan5566 hw4 attempt1
  hw4/ycchan5566/Makefile
  hw4/ycchan5566/matrix.cpp
Labels: hw4

#96 Benchen216 hw4 attempt1
  hw4/benchen216/Makefile
  hw4/benchen216/_matrix.cpp
Labels: hw4

#87 TommyLin HW4 attempt2
  hw4/TommyLin/Makefile
  hw4/TommyLin/PRELOAD_MKL
  hw4/TommyLin/_matrix.cpp
Labels: hw4

#99 abc225666-hw4
  hw4/abc225666/Makefile
  hw4/abc225666/_matrix.cpp
  hw4/abc225666/allocator.cpp
Labels: hw4

#93 Jie jhih hw4 attempt1
  hw4/JieJhih/Makefile
  hw4/JieJhih/matrix.cpp
  hw4/JieJhih/matrix.h
Labels: hw4

#88 Jspss93094 hw4 attempt1
  hw4/jspss93094/Makefile
  hw4/jspss93094/matrix.cpp
Labels: hw4

#90 Yenchanglu hw4 attempt1
  hw4/yenchanglu/Makefile
  hw4/yenchanglu/_matrix.cpp
Labels: hw4
